@model MyNetMvcLab.Models.Product

@{
    Boolean isAdd = Model.Proid == null;
    ViewData["Action"] = isAdd ? "新增" : "修改";
    ViewData["Title"] = isAdd ? "新增商品" : "修改商品";
}

<form  asp-controller="Product" asp-action="Save" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.Proid" name="Proid"/> 
    <div class="d-flex justify-content-center w-100 py-3">
        <div class="d-flex flex-column align-items-center w-25 px-3">
            <div class="w-100 h-75 border border-dark rounded"></div>
            <button type="button" class="btn btn-outline-primary mt-3 w-50">上傳圖片</button>
        </div>
        <div class="w-50">
            <div class="form-group">
                <label for="proname">商品名稱</label>
                <input asp-for="Proname" class="form-control" id="proname" placeholder="商品名稱">
                <span asp-validation-for="Proname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="proprice">商品價錢</label>
                <input asp-for="Proprice" class="form-control" id="proprice" placeholder="商品價錢">
                <span asp-validation-for="Proprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="proqty">商品數量</label>
                <input asp-for="Proqty" class="form-control" id="proqty" placeholder="商品數量">
                <span asp-validation-for="Proqty" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center w-100 mt-3">
        <button type="submit" class="btn btn-primary w-25 mx-5">@ViewData["Action"]</button>
        <a class="btn btn-danger w-25 mx-5 active" role="button" aria-pressed="true" asp-controller="Product" asp-action="Index">取消</a>
    </div>
</form>